<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.example.domian.Recipe">

	<!-- <select id="RecipeSearch" parameterType="dto" resultType="spring.example.domain.Recipe">
		
		select * from recipe 
		<where>
			<choose>
				<when test="cateno == null">
				 rlevel = #{rlevel} and rtime =#{rtime}</when>
				<when test="rlevel == null"> cateno = #{cateno} and rtime = #{rtime} </when>
				<when test="rtime == null"> cateno = #{cateno} and rlevel = #{rlevel} </when>
			</choose>
		</where> 
		</select> -->
</mapper>