<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.example.dao.RecipeDao">


	<select id="recipeSearch" parameterType="spring.example.domain.Recipe" resultType="spring.example.domain.Recipe">

		
		select REPLACE(REPLACE(rthumimg,'[',''),']','')as rthumimg ,rtitle,profile,nickname,rno from recipe inner join user on recipe.userid = user.userid
		<where>
				<if test="cateno != 0">
				 and cateno=#{cateno}</if>
				<if test="rlevel != null">and rlevel=#{rlevel} </if>
				 <if test="rtime != null">and rtime=#{rtime}</if>
				  and rstate = 0
		</where> 
		</select>
		
		<select id="recipeSearch1" parameterType="spring.example.domain.Recipe" resultType="int">
		
		select count(*) from recipe 
		<where>
			<if test="cateno != 0">
				 cateno=#{cateno}</if>
				<if test="rlevel != null"> and rlevel=#{rlevel}</if>
				<if test="rtime != null"> and rtime=#{rtime}</if>
				and rstate=0
		</where> 
		</select> 
		
		<select id="myrecipeSearch" parameterType="spring.example.domain.Recipe" resultType="spring.example.domain.Recipe">

		
		select REPLACE(REPLACE(rthumimg,'[',''),']','')as rthumimg ,rtitle,profile,nickname,rno from recipe inner join user on recipe.userid = user.userid
		<where>
			<if test="cateno != 0">
				 and cateno=#{cateno}</if>
				<if test="rlevel != null">and rlevel=#{rlevel} </if>
				 <if test="rtime != null">and rtime=#{rtime}</if>
				  and rstate = 1
		</where> 
		</select>
		
		<select id="recipeSearch2" parameterType="spring.example.domain.Recipe" resultType="int">
		
		select count(*) from recipe 
		<where>
			<if test="cateno != 0">
				 and cateno=#{cateno}</if>
				<if test="rlevel != null">and rlevel=#{rlevel} </if>
				 <if test="rtime != null">and rtime=#{rtime}</if>
				  and rstate = 1
		</where> 
		</select> 
</mapper>