<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.example.domian.Recipe">


	<select id="recipeSearch" parameterType="spring.example.domain.Recipe" resultType="spring.example.domain.Recipe">

		
		select REPLACE(REPLACE(rthumimg,'[',''),']','')as rthumimg ,rtitle,profile,nickname,rno from recipe inner join user on recipe.userid = user.userid
		<where>
			<choose>
				<when test="cateno == null">
				 rlevel = #{rlevel} and rtime =#{rtime} and rstate = 1</when>
				<when test="rlevel == null"> cateno = #{cateno} and rtime = #{rtime} and rstate = 0</when>
				<when test="rtime == null"> cateno = #{cateno} and rlevel = #{rlevel} and rstate = 0</when>
				<otherwise>cateno = #{cateno} and rlevel = #{rlevel} and rtime = #{rtime} and rstate = 0 </otherwise>
			</choose>
		</where> 
		</select>
		
		<select id="recipeSearch1" parameterType="spring.example.domain.Recipe" resultType="int">
		
		select count(*) from recipe 
		<where>
			<choose>
				<when test="cateno == null">
				 rlevel = #{rlevel} and rtime =#{rtime}</when>
				<when test="rlevel == null"> cateno = #{cateno} and rtime = #{rtime} </when>
				<when test="rtime == null"> cateno = #{cateno} and rlevel = #{rlevel} </when>
				<otherwise>cateno = #{cateno} and rlevel = #{rlevel} and rtime = #{rtime} </otherwise>
			</choose>
		</where> 
		</select> 
</mapper>