@charset "UTF-8";
form.search1 {
    text-align: center;
    font-size: 24pt;
}
.board{
	margin-left: 15%;
	width: 1240px;
}
#board{
	width: 1240px;
    text-align: center;

}
.search2{
	color: #555;
    background: #fbfbfb;
    background-image: none;
    border: 1px solid #ccc;
   	border-radius: 4px;
    font-size: 14pt;
}
.search3{
	height:24px;
	vertical-align: middle;
}
.sort{
	padding-right: 20%;
}
.list1{
	    border: groove;
}
.write{
	padding-right: 2%;
}
.title1{
	border-bottom-color: peru;
}
button{
	background-color:peru;
	border:2px solid peru;
	border-radius: 2px;
	color:ivory;
}
tr{
	height: 30px;
}
.btn1 input{
	background-color:peru;
	border:2px solid peru;
	border-radius: 2px;
	color:ivory;
}
.center{
	height: 1000px;
}
button a{
	color:ivory;
}
.btn1{
	float:right;
}