@charset "UTF-8";

.yoyo_top h1 {
    margin: 10px 30px 0 0;
    display: inline-block;
    vertical-align: top;
}
.yoyoRight  a img {
    width: 85px;
    border-radius: 100%;
}
.yoyoRight {
    display: inline-block;
    padding: 2px 20px 20px 80px;
    vertical-align: top;
    position: relative;
}
button{
    text-transform: none;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}
.yoyo_top_wrap {
    background: #fff;
    width: 100%;
    height: 112px;
}
div {
    display: block;
}
.yoyo_top {
    width: 1240px;
    margin: 0 auto;
    padding: 16px 0 0 176px;
    display:flex;
}
.yoyoNavi{
	background-color:peru;
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	width:100%;
}
.yoyoNavi li{
	width:25%; 
	color:ivory;
	display:inline-block;
	font-size:32px;
	font-family: 'Dongle', sans-serif;
	padding:8px;
}
.yoyoNavi a{
	color:ivory;
}
.yoyo_search {
    width: 450px;
    display: inline-block;
    padding-top: 12px;
}
form {
    display: block;
    margin-top: 0em;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.yoyo_search .form-control {
    border: 1px solid #ccc;
    background: #fbfbfb;
    height: 38px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
dl {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
}

h1 img{
	width:186px;
	height:55px;
	object-fit:cover;
	
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:ivory;
	font-size:32px;
	font-family: 'Dongle', sans-serif;
}
.yoyo_search .btn {
    background: peru;
    border: 1px solid peru;
    height: 54px;
}